<div id="top-nav" class="navbar navbar-inverse navbar-static-top" style="position: fixed;left: 0px;width: 100%;background-color: #6400aa;">
		   <!--  <div class="container-fluid"> -->
		        <div class="navbar-header">
		            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		            </button>
		            <a href="http://home.bt.com"><img class="bt-navbar-bt-logo" src="//img01.bt.co.uk/s/assets/190218/images/logo/BT_mark_4col_rev_105x50.png" alt="BT logo"></a>
<!-- 	<a class="navbar-brand" href="#">Dashboard</a>	             -->
		        </div>
		        <div class="navbar-collapse collapse" style="margin-left: 20%;">
			        	<ul class="nav navbar-nav navbar-left">
			                <li class="dropdown">
			                    <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="fa fa-user-circle"></i> Admin <span class="caret"></span></a>
			                    <ul id="g-account-menu" class="dropdown-menu" role="menu">
			                        <li><a href="#"><i class="fa fa-user-secret"></i> My Profile</a></li>
			                    </ul>
			                </li>
			                <li>
			                	<a href="" class="fa fa-sign-out" ng-click="logout();">Logout</a>
			                	<!-- <button ng-click="logout();" class="btn btn-success fa fa-sign-out">Logout</button> -->
			                </li>
			            </ul>
			            <ul class="nav navbar-nav navbar-right">
			                <li class="dropdown">
			                    <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="fa fa-user-circle"></i> Admin <span class="caret"></span></a>
			                    <ul id="g-account-menu" class="dropdown-menu" role="menu">
			                        <li><a href="#"><i class="fa fa-user-secret"></i> My Profile</a></li>
			                    </ul>
			                </li>
			                <li>
			                	<a href="" class="fa fa-sign-out" ng-click="logout();">Logout</a>
			                	<!-- <button ng-click="logout();" class="btn btn-success fa fa-sign-out">Logout</button> -->
			                </li>
			            </ul>
		        </div>
		    <!-- </div> -->
		    <!-- /container -->
		</div>
		
		<!-- /Header -->
	
  <div class="width_full row">
  
		
		<!-- Main -->
		
		<div class="col-md-3 form-line" style="position: fixed;left: 0px;">
		    <ul class="nav nav-pills nav-stacked" style="border-right:1px solid black ;width: 80%;">
		    	<li><a href="" ng-click="openDashBoard();"><i class="fa fa-dashboard" ></i>  Introduction of BT</a></li>
		        <li><a href="" ng-click="openAddNew();"><i class="fa fa-dashboard" ></i>  Create Request</a></li>
		        <li><a href="" ng-click="viewUserDetails();" ><i class="fa fa-tags"></i>  View Request</a></li>
		        <li><a href="" ng-click="editUserDetails();"><i class="fa fa-history"></i>  Edit Request</a></li>
		        <li><a href="" ng-click="deleteUserDetails();"><i class="fa fa-lock"></i>  Delete Request</a></li>
		    </ul>
		</div>
		
		<div class="" style="position: fixed;left: 25%;width: 70%;margin-top: 15px;">
			<div class="row">
				 <div class="well well-sm">
				 	<h1>British Telecommunications</h1>
						<article>
						  <p>British Telecommunications plc, commonly known as BT, is the largest company in the United Kingdom. 
						  It came into being in early 1984 through the transformation of a former state utility, at a turning point in the development of U.K. and European telecommunications. 
						  Since being privatized, BT has maintained its position as the dominant provider of local and long-distance telephone service in the United Kingdom, 
						  but has faced increasing competition and seen its market share fall as the English government continues to deregulate the market. BT has subsequently looked abroad for its future growth and is in the process of developing a global telecommunications network for multinational companies.<p>
						  <p>British Telecommunications's administrative and technological roots are mingled with those of the U.K. Post Office and reach back into the second half of the 19th century, when inventors at home and abroad, such as Alexander Graham Bell, Thomas Edison, and Guglielmo Marconi, were applying electromagnetic principles to the development of practicable forms of telecommunications. Out of this the modern telegraph, followed by the telephone, was born. In 1850 the first submarine telegraph cable was laid across the English Channel. In 1878 Bell demonstrated his newly patented telephone to Queen Victoria, and in 1879 England's first telephone exchange opened in London. It was in the United Kingdom, too, 
						  that the first international telephone call was made, in 1891, between England and France.  The reversal of that nationalization process was completed in the early 1990s.</p>
						  <p>In 1869 the Postmaster General was granted the exclusive right to transmit telegrams within the United Kingdom. 
						  At first the telephone was slow to catch on and was not regarded by the Post Office as a serious threat to its telegraphic network. 
						  The first independent U.K. telephone service provider, Telephone Company Ltd., was set up in 1879 and in 1880 merged with its competitor,
						   Edison Telephone Company, to form United Telephone Company. Seeing that the telephone was beginning to take customers
						    away from its telegraph service, the Post Office embarked on a series of protective measures, and
						     in 1880 the government brought an action against the recently formed United Telephone Company,
						      claiming that it was operating in contravention of the Telegraph Act of 1869. The High Court subsequently decided that the telephone 
						      was a form of telegraph.</p>
							Read more: <p>http://www.referenceforbusiness.com/history2/85/British-Telecommunications-plc.html#ixzz57i7Jyzg5</p>
						</article>	
				</div>
			</div>	
		</div>

</div>




