<div class="width_full row">
	<div class="" style="position: fixed;left: 15%;width: 70%;margin-top: 15px;">
			<div class="">
			    <div class="row">
			        <div class="col-md-12">
			            <div class="well well-sm">
			                <div class="row" style="width: 100%;">
			                    <div class="col-md-12">
			                         <div class="well well-sm">
											<h3 class="dark-grey">Terms and Conditions</h3>
											<p>
												By clicking on "Register" you agree to The Company's' Terms and Conditions
											</p>
											<p>
												While rare, prices are subject to change based on exchange rate fluctuations - 
												should such a fluctuation happen, we may request an additional payment. You have the option to request a full refund or to pay the new price. (Paragraph 13.5.8)
											</p>
											<p>
												Should there be an error in the description or pricing of a product, we will provide you with a full refund (Paragraph 13.5.6)
											</p>
											<p>
												Acceptance of an order by us is dependent on our suppliers ability to provide the product. (Paragraph 13.5.6)
											</p>
											
											<!-- <form action="#" onsubmit="if(document.getElementById('agree').checked) { return true; } else { alert('Please indicate that you have read and agree to the Terms and Conditions and Privacy Policy'); return false; }"> -->
												<input type="checkbox" name="checkbox" value="check" id="agree" /> I have read and agree to the Terms and Conditions and Privacy Policy<br>
												<input type="checkbox" name="checkbox" value="check" id="agree" /> I have read and not agree to the Terms and Conditions and Privacy Policy<br>
											<!-- </form>	 -->
									</div>
											<form class="form-horizontal">
												<input type="submit" name="submit" value="Next"  ng-click="next();" />
											</form>
			                    </div>
			                </div>
			          </div>
			    </div>
			</div>
		</div>
	</div>
</div>
		
